.about{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    width: 70%;
    gap: 50px;
    margin: 70px auto;
}
@media screen and (max-width:$breakpoint) {
    .about{
        width: 100%;
        margin:15px 0 ;
    }
}