.carrousel-container{
    width: 100%;
    margin: 0 auto;
}
.info{
    display: flex;
    justify-content: space-between;
}
.fiche-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px 0;
    h1{
        font-weight: 500;
        font-size: 36px;
        margin: 0;
    }
    h2{
        font-weight: 500;
        font-size: 18px;
    }
    color:$primary-color;
    &_collapse{
        display: flex;
        gap: 10px;
    }
}
.fiche-tag{
    display: flex;
    gap:20px;
}
.star-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px 0;
}
.equip{
    list-style: none;
}
@media screen and (max-width:$breakpoint){
    .info{
        flex-direction: column;
    }
    .fiche-tag{
        flex-wrap: wrap;
    }
    .star-container{
        flex-direction: row-reverse;
        align-items: center;
    }
    .fiche-container_collapse{
        display: flex;
        flex-direction: column;
    }
}
