.home-container{
    background: $secondary-color;
    display: flex;
    flex-wrap: wrap;
    border-radius: 25px;
    justify-content: center;
    width: 100%;
    gap: 100px;
    padding: 100px 0;
    margin: 50px auto;
}
.home-container_link-decoration{
    text-decoration: none;
}
@media screen and (max-width:$breakpoint) {
    .home-container{
        background: none;
        flex-wrap: none;
        flex-direction: column;
        align-items: center;
        gap: 50px;
        padding: 0;
    }
    
}