.banner{
    background-color: black;
    height: 223px;
    width: 100%;
    border-radius: 25px;
        img{
            
            height: 100%;
            width: 100%;
            object-fit: cover;
            border-radius: 25px;
            opacity: 0.6;
        }
        div{
            color: $tertiary-color;
            font-size: 48px;
            font-weight: 500;
            position: absolute;
            left: 25.9%;
            right: 25.14%;
            top: 24.32%;
            bottom: 69.04%;
            
        }
    
}
@media screen and (max-width:$breakpoint){
    .banner{
        height: 111px;
        div{
            font-size: 24px;
        }
    }
}