.card{
    border-radius: 10px;
    border: solid;
    &_img{
        border-radius: 10px;
        height: 340px;
        object-fit: cover;
        width: 100%;
    }
    &_div{
        font-size: 18px;
        text-decoration: none;
    }
}