.carrousel{
     height: 415px;
     position: relative;
     img{
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 25px;
     }
     &_number{
        position: absolute;
        left: 48.95%;
        right: 49.11%;
        top: 86.19%;
        bottom: 6.01%;
        font-weight: 500;
        font-size: 18px;
        color: #f0f0f0;
     }
}
.arrow-left{
    position: absolute;
    top: 40%;
    left: 32px;
    font-size: 79.2px;
    z-index: 1;
    cursor: pointer;
    color: #f0f0f0;
}
.arrow-right{
    position: absolute;
    top: 40%;
    right: 32px;
    font-size: 79.2px;
    z-index: 1;
    cursor: pointer;
    color: #f0f0f0;
}
@media screen and (max-width:$breakpoint){
    .carrousel{
        height: 255px;
        .arrow-left{
            height: 19.8px;
        }
    }

}