.card{
    position: relative;
    border-radius: 10px;
    width: 340px;
    height: 340px;
    &_img{
        border-radius: 10px;
        height: 100%;
        object-fit: cover;
        width: 100%;
    }
    &_text{
        position: absolute;
        left: 5.88%;
        right: 5.88%;top: 78.82%;
        bottom: 5.88%;
        font-size: 18px;
        font-weight: 500;
        color: #FFFFFF;
    }
}