.collapse{
    height: auto;
    width: 100%;
    font-weight: 400;
    font-size: 24px;
    color: $primary-color;
    cursor: pointer;
    
    
    &_header{
        border-radius: 5px;
        font-weight: 500;
        font-size: 24px;
        background: $primary-color;
        color: $tertiary-color;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 8px 15px;
    }
    
}

.collapse_body{
    height: auto;
    background-color: $secondary-color;
    padding: 20px;
    border-radius: 5px;
}
@media screen and (max-width: $breakpoint) {
    .collapse{
        &_header{
            font-size: 13px;
        }
    }
    .collapse_body{
        font-size: 12px;
    }
}
