.tag{
    display: flex;
    background-color: $primary-color;
    border-radius: 10px;
    font-weight: 500;
    font-size: 14px;
    height: 25px;
    color: #f0f0f0;
    padding: 15px;
    align-items: center;
}
@media screen and (max-width: $breakpoint) {
    .tag{
        font-size: 10px;
    }
}